{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To Codemy Ecommerce...</p>
                </div>
            </div>
        </header>


        <div class="container">
            <div class="row">
                <center> 
                    <div class="col-8">
                        <br/><br/> 
<p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae risus ac est dictum rutrum sed vitae erat. Donec eu massa ut felis feugiat viverra. Morbi pretium tempus fringilla. Aenean ullamcorper vel erat sed tempor. Phasellus a ex pharetra, volutpat augue ac, varius elit. Fusce vel varius nisi, dictum venenatis dui. In a sem hendrerit, faucibus libero a, hendrerit ipsum. In convallis ullamcorper augue, nec congue orci tempor sit amet.
<br/><br/>
Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec non augue vulputate, tempor mauris id, pretium ligula. Pellentesque velit nulla, condimentum ut sagittis vehicula, venenatis semper tortor. Etiam a nibh quis justo fermentum sagittis vel nec felis. Quisque viverra vestibulum ultrices. Vivamus eget odio accumsan, laoreet dolor at, ullamcorper odio. Phasellus maximus, orci eget cursus lacinia, lacus dolor interdum ligula, ac porttitor odio risus a augue. Sed dictum velit sed bibendum pellentesque. Donec posuere vestibulum tortor sit amet scelerisque. Etiam suscipit justo id hendrerit eleifend. Sed auctor erat commodo, efficitur elit id, pharetra lorem. Integer velit felis, consectetur et dolor non, pharetra tincidunt risus. Morbi convallis metus tortor, sit amet dictum augue tristique id. Phasellus molestie consectetur sapien, nec porttitor orci aliquam a. Sed sed urna justo.
<br/><br/>                        
Suspendisse ultrices velit vitae urna pretium, sit amet lobortis risus tempus. Morbi sagittis pellentesque nunc, dapibus pellentesque ante tristique vitae. Mauris rhoncus porta tellus iaculis consequat. Vestibulum cursus neque lorem, a iaculis elit iaculis non. Phasellus ac mauris in erat vehicula placerat. Maecenas elementum, nunc sit amet efficitur interdum, ante justo luctus ex, sit amet posuere metus elit nec velit. Fusce vel lacinia lacus, et viverra velit. Maecenas eros augue, maximus a mi quis, suscipit blandit libero. Pellentesque sit amet hendrerit enim. Etiam ullamcorper vehicula lorem, vitae lacinia metus dignissim eu. Nunc rhoncus efficitur bibendum. Mauris at dui pulvinar, sodales mi tempor, euismod nibh. Integer sed ipsum sit amet odio tempus imperdiet. 
<p>
<br/><br/>
                    </div>
                </center> 
            </div>                              
        </div>


{% endblock %}